*
{
    margin: 0;
    padding: 0;
}
#name
{
    color : black;
    font-weight: 600;
    font-size: large;
    margin-left: 2%;
    padding: 1% 0 0 0;
    vertical-align: middle;
}
.storedet
{
    margin-bottom: 1%;
    padding: 0 0 1% 0;
    border:1px solid #989898;
    font-family: Arial, Helvetica, sans-serif;
}
ul
{
    padding: 0 2%;
    list-style-type: none;
}
ul li
{
    border: 1px solid #989898;
    padding: 1%;
    font-family: Arial, Helvetica,sans-serif;
}
.bnone
{
    border-bottom: none;
}

.icon
{
    cursor: pointer;
}

.xicon
{
    color:red;
    float: right;
    margin-right: 5%;
    cursor: pointer;
    vertical-align: top;
}

